/* Reset some default browser styles */
body {
    margin: 0;
    
    padding: 0;
    font-family: Arial, sans-serif;
    background-image:url("1.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgb(248, 246, 241);
    
}

/* Style the leaderboard container */
.Lboard{
    
    margin: 20px;
}

/* Style the leaderboard heading */
.Lboard h1 {
    font-size: 40px;
    margin-bottom: 10px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    color: #0a0a66;
    border-color: rgb(233, 6, 6);
    word-spacing: 1px;
    text-shadow: rgb(235, 26, 26);
    margin-left: 225px;
}

/* Style the leaderboard table */
table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    float: left;
 
}

/* Style the table header */
th {
    background-color:antiquewhite;
    color:#918be6;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(59, 39, 235);
    font-family:cursive;
}

/* Style alternating rows for better readability */
tr:nth-child(even) {
    background-color: rgb(59, 39, 235);
    border: 2px solid rgb(59, 39, 235);
}

/* Style the table data cells */
td {
    padding: 10px;
    border: 2px solid rgb(59, 39, 235);
    
}

.heading th{
    font-family:sans-serif;
    font-size: large;
    color:rgb(59, 39, 235);
}
